@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');

body{
  margin: 0;
  padding: 0;
  background: rgb(48, 76, 255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: fit-content;
  font-family: 'Press Start 2P';
}

html{
  font-family: 'Press Start 2P';
  margin: 0;
  padding: 0; 
}
